{% extends 'base.html' %}

{% block title %}
Devis Laboratory
{% endblock %}

{% block body %}
<div class="about-intro">
    <div class="about-container">
        <h1 class="about">About</h1>

      <ul>
        <li onclick="location.href='https://www.facebook.com/DevisLaboratory';"><i class="fab fa-facebook-f"></i></li>
          <li onclick="location.href='https://www.youtube.com/user/2323devis/featured';"><i class="fab fa-youtube"></i></li>
        <li onclick="location.href='https://www.instagram.com/devislaboratory/';"><i class="fab fa-instagram"></i></li>
    </ul>

    </div>
</div>
{% endblock %}