{% extends 'base.html' %}

{% block title %}
Devis Laboratory
{% endblock %}

{% block body %}

   <div class="effects-intro">

        <div class="video-container">

            <h1 class="effects">Effects</h1>

            <div class="effects-container">
                <div class="effect-image">
                    <img src="../static/img/ef-1.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-2.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-3.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-4.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-5.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-6.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-7.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-8.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-9.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-10.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-11.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-12.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-13.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-14.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-15.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-16.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-17.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-18.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-19.jpg">
                </div>
                <div class="effect-image">
                    <img src="../static/img/ef-20.jpg">
                </div>
            </div>
        </div>
    </div>


{% endblock %}