{% extends 'base.html' %}

{% block title %}
Devis Laboratory
{% endblock %}

{% block body %}
<div class="video-intro">
    <div class="video-container">
        <h1 class="video">Videos</h1>
        <div class="video-yt1">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/6SkgK5OPF4g"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="video-yt2">

            <div><p class="text-blood">&nbsp;Blood Delay is the unique tube delay
                in Steampunk enclosure, based on 6n2p tube and PT2399 IC.
                Tap tempo and Tone correction on the board. Exclusive vintage sound... </p>
            </div>

        </div>
        <div class="video-yt1">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tKyGih3OU2Y"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="video-yt2">

            <div><p class="text-blood">&nbsp;Endless Reverb... </p>
            </div>

        </div>
        <div class="video-yt1">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9Q9rZ8d0l9s"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="video-yt2">

            <div><p class="text-blood">&nbsp;Ion Cloud Reverb... </p>
            </div>

        </div>
    </div>

</div>

{% endblock %}